<goat-card>
  <pc-card-content style="height: 30rem">
    <pc-table id="empty-table" key-field="_id" selection-type="checkbox" sortable></pc-table>
    <script>
      const $emptyTable = document.getElementById('empty-table');
      // Columns
      $emptyTable.columns = {% include_relative column-config.json %};
      // Data
      $emptyTable.data = [];
      $emptyTable.emptyState = {
        'headline': 'Empty list',
        'description': 'There are no employees to display',
        'action': 'Create Employee',
        'actionUrl': '#'
      };
    </script>
  </pc-card-content>
  <pc-card-content class='no-padding'>
    {% GoatHighlighter language:"javascript" %}
const $emptyTable = document.getElementById('empty-table');
// Columns
$emptyTable.columns = {% include_relative column-config.json %};
// Data
$emptyTable.data = [];
$emptyTable.emptyState = {
  'headline': 'Empty list',
  'description': 'There are no employees to display',
  'action': 'Create Employee',
  'actionUrl': '#'
};
    {% endGoatHighlighter %}
  </pc-card-content>
</goat-card>
