@charset "utf-8";
@use "mixin";


:root {
  --header-height: 3rem;
}

.top-nav {
  box-shadow: var(--shadow-sm);
  border-bottom: 1px solid var(--border-strong-01);
}

.main-content {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.page-container {
  flex: 1;
}


.legal {
  margin-bottom: 0;
  padding-bottom: var(--spacing-200);
}


.blog-posts {

  .post-list {
    margin-top: var(--spacing-400);

    .item {
      margin-bottom: var(--spacing-400);
    }
  }

}

.js-scroll-nav {
  color: var(--text-primary);
}
